@model CarViewModel
@{
    ViewData["Title"] = "Manage your Car Inventory";
}
<div class="panel panel-default car-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Id</td>
                <td>Maker</td>
                <td>Model</td>
                <td>Type</td>
                <td>Color</td>
                <td>Year</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
    <tr>
        <td>@item.Id</td>
        <td>@item.Maker</td>
        <td>@item.Model</td>
        <td>@item.Type</td>
        <td>@item.Color</td>
        <td>@item.Year</td>
    </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        <!-- TODO: Add item form -->
        @await Html.PartialAsync("AddCarItemPartial", new CarItem())
    </div>
</div>
